/* .navbar-custom .logo-text {
    font-size: 20px;
    font-weight: bold;
    font-family: Poppins, sans-serif;
    color: #3d3d3d;
    margin-left: 16px;
}

.navbar-custom .navbar-links {
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 369px;
}

.navbar-custom .navbar-links div a {
    padding: 0 !important;
} */

/* .navbar-custom {
    background-color: #fff !important;
    border-bottom: 1px solid #eee;
} */

.navbar-custom .logo-text {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #3d3d3d;
    margin-left: 16px;
}

.navbar-custom .navbar-links {
    display: flex;
    gap: 32px; /* المسافة بين اللينكات */
    font-size: 14px;
    font-weight: 400;
    width: 369px;
    justify-content: space-between;
}

.navbar-custom .navbar-links a {
    color: #3d3d3d !important;
    text-decoration: none;
    padding: 0 !important;
}

.navbar-custom .navbar-links a:hover {
    color: #00a8e8 !important;
}

.lang-btn {
    border-radius: 20px !important;
    padding: 6px 16px !important;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d !important;
    background-color: #f4f4f4 !important;
    border: 1px solid #ececec !important;
}
