.navbar-custom {
    color: #3d3d3d;
}

.navbar-custom img {
    width: 2.813rem;
    height: 3.563rem;
}

.navbar-custom .logo-text {
    font-weight: bold;
    font-size: 1.25rem;
    margin-left: 0.5rem;
    color: #3d3d3d;
}

.navbar-custom .links {
    font-size: 0.875rem;
}

.navbar-custom .links a {
    padding: 0;
}

.navbar-custom .language-button {
    border-radius: 24px;
    font-size: 1rem;
    border: 1px solid #ececec;
    background-color: #f4f4f4;
    padding: 0.4rem 1.25rem;
    color: #3d3d3d;
}

.navbar-custom .language-button:hover {
    background-color: #e0e0e0;
    color: #3d3d3d;
    border: 1px solid #e0e0e0;
}
