.feature-section {
}

.feature-section h2 {
    font-weight: bold;
    font-size: 40px;
}

.feature-section h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15px;
    background: url('../../assets/images/underline.svg') no-repeat center;
    background-size: contain;
    z-index: -1;
}
