.card-with-middle-icon::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: var(--before-img);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    pointer-events: none;
    width: 60px;
    left: -92px;
}
