.hero {
    padding: 0rem 5.375rem !important;
}

.hero h1,
.hero h4 {
    font-size: 3.544rem;
    font-weight: 700;
}

.hero .highlighted {
    color: #019cde;
}

.hero p {
    font-size: 1.563rem;
    color: #464646;
    font-weight: 300;
}

.hero .badge-container a {
    display: inline-block;
    height: 5rem;
    width: 13.125rem;
    background-color: #292929;
    border-radius: 24px;
    text-align: center;
    vertical-align: middle;
}

.hero .badge-container a:first-child {
    margin-right: 0.75rem;
}
