.section-title h2 {
    font-size: 2.25rem !important;
    font-weight: 700 !important;
    margin-bottom: 16px !important;
}

.section-title .underline {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-left: 144px;
}
